<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
   <meta charset="utf-8">
   <title>Simple Flask Website</title>
</head>

<body  style="background-image: url('http://127.0.0.1:4200/abstract-antique-backdrop-background-129731.jpg');
background-repeat: no-repeat;
background-attachment: fixed; 
  background-size: cover;">
<!--
      <img style=" display: block;
               margin-left: auto;
               margin-right: auto;
               display:inline;" 
               class="col-1"
               src={{api_img_poke}}>-->
      <div class="row" style="    
      position: fixed;
      top: 50%;
      left: 40%;">

         <img style=" 
         margin-left: auto;
         margin-right: auto;
               width:  500px;
               display:inline; "
            
            src={{api_img_poke_back}}>
         <img style="
               margin-left: auto;
               margin-right: auto;
               width:  500px;
               display:inline;
                "
           
            src={{api_img_poke}}>
   </div>

</html>